@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

.contenedor {
    margin: 10px;
}

.col-12 {
    color: white;
}

p {
    margin: 0px;
}

.imagenes {
    width: 300px;
    margin: 0 auto;
}

.imagenes {
    color: white;
}

.btn-primary{
    background-color: #6A64FF!important;
    border: none;
    font-weight: bold;
}

.btn-secondary{
    background-color: #A0A0A0!important;
    color: #000;
    border: none;
    font-weight: bold;
}

.btn{
    padding-top: 12px;
    padding-bottom: 12px;
}