<body>
    <div class="topnav" id="myTopnav">

        <div class="header-left">
            <a routerLink="/home" class="logo" >
                <img src="assets/images/logo.png" height="45px" alt="" data-bs-toggle="tooltip" data-bs-placement="top" title="Ir al Inicio">
            </a>
        </div>
        <a class="opcion" href="#triaje" routerLinkActive="active" routerLink="/triaje" data-bs-toggle="tooltip" data-bs-placement="top" title="Realizar triaje">Triaje</a>
        <a class="opcion" href="#download" routerLinkActive="active" routerLink="/download" data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar aplicacion">Descargar</a>
        <a class="opcion" href="#home" routerLinkActive="active" routerLink="/home" data-bs-toggle="tooltip" data-bs-placement="top" title="Ir al Inicio">Salutem</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


</body>