<form [formGroup]="cuestionarioFomr" (ngSubmit)="analizar()">
    <div class="card" *ngFor=" let pregunta of cuestionario.preguntas; let idx=index ">
        <div *ngIf="!loading && paginaActual == pregunta.nroPagina;">
            <div class="card-header" >
                <div class="descripcion ">{{idx+1}}. {{pregunta.descripcion}}</div>
            </div>
            <div class="card-body">
                <ul class="list-group" *ngIf="pregunta.tipoAlternativa==1" [formGroupName]="nombreGrupos[idx]">
                    <li class = "" *ngFor="let alternativa of pregunta.alternativas; let aIdx = index ">
                        <input class=" form-check-input" type="checkbox" [value]=false [formControlName]="nombreControles[idx][aIdx]" id="flexCheckDefault">
                        <label class=" form-check-label respuesta form-control" for="flexCheckDefault"  >
                            <label class="alternativas ">{{alternativa}}</label>
                        </label>
                    </li>
                </ul>
                <ul class="list-group" *ngIf="pregunta.tipoAlternativa==2" >
                    <li *ngFor="let alternativa of pregunta.alternativas; let aIdx = index " >  
                        <input class="form-check-input" type="radio"  [formControlName]="nombreControles[idx][0]"  [name]="nombreControles[idx][0]" [value]="aIdx" id="flexRadioDefault1">
                        <label class="form-check-label respuesta form-control" for="flexRadioDefault1"   >
                            <label class="alternativas">{{alternativa}}</label>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="paginaActual == cuestionario.nroPaginaAsignada">
        <div class="row text-center  ">
            <div class="col-md-{{colVolver}}" *ngIf="paginaActual!=1">
                <button  class="btn btn-primary" (click)="rergesarCuestionario()" >
                    Volver
                </button>
            </div>
            <div class="col-md-{{colSiguiente}}" *ngIf="paginaActual!=cantidadCuestionarios">
                <button class="btn btn-primary" (click)="pasarCuestionario()" [disabled]="!cuestionarioValido">
                    Siguiente
                </button>
            </div>
            <div class="col-md-{{colFinalizar}}" *ngIf="paginaActual==cantidadCuestionarios">
                <button class="btn btn-primary" (click)="finalizarCuestionario()" [disabled]="!cuestionarioValido">
                    Finalizar
                </button>
            </div>
        </div>
    </div>
</form>