.btn-primary{
    background-color: #6A64FF!important;
    border: none;
    font-weight: bold;
}

.btn-secondary{
    background-color: #A0A0A0!important;
    color: #000;
    border: none;
    font-weight: bold;
}

.btn{
    padding-top: 12px;
    padding-bottom: 12px;
}

.respuesta{
    margin:15px 0;
    font-size: 32px;
}